<div>
  Mediastack:

</div>
<ol>
  <li *ngFor="let result of data">Article
    <p>Author: {{result?.author}}</p>
    <p>Title: {{result?.title}}</p>
    <p>Description: {{result?.description}}</p>
    <p>URL: {{result?.url}}</p>
    <p>Source: {{result?.source}}</p>
    <p>Image: {{result?.image}}</p>
    <p>Category: {{result?.category}}</p>
    <p>Publication date: {{result?.publicationDate}}</p>
  </li>
</ol>


<div>
  NewsCatcher:

</div>
<ol>
  <li *ngFor="let result of data2">Article
    <p>Author: {{result?.author}}</p>
    <p>Title: {{result?.title}}</p>
    <p>Description: {{result?.description}}</p>
    <p>URL: {{result?.url}}</p>
    <p>Source: {{result?.source}}</p>
    <p>Image: {{result?.image}}</p>
    <p>Category: {{result?.category}}</p>
    <p>Publication date: {{result?.publicationDate}}</p>
  </li>
</ol>

<div>
  All data:

</div>
<ol>
  <li *ngFor="let result of all_data">Article
    <p>Author: {{result?.author}}</p>
    <p>Title: {{result?.title}}</p>
    <p>Description: {{result?.description}}</p>
    <p>URL: {{result?.url}}</p>
    <p>Source: {{result?.source}}</p>
    <p>Image: {{result?.image}}</p>
    <p>Category: {{result?.category}}</p>
    <p>Publication date: {{result?.publicationDate}}</p>
  </li>
</ol>
