<mat-tab-group style="height: 60px; width: 100%" (selectedTabChange)="onTabChanged($event)" >

  <mat-tab id="mat-tab-home">
  <ng-template mat-tab-label >
    <img src="assets/img/home-svgrepo-com.svg" width="45" height="45">
    <div>Home</div>
  </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/science-chemistry-svgrepo-com.svg" width="50" height="50">
      <div>Science</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/tv-player-entertainment-svgrepo-com.svg" width="50" height="50">
      <div>Entertainment</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/medicine-svgrepo-com.svg" width="50" height="50">
      <div>Medicine</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/artificial-intelligence-svgrepo-com.svg" width="50" height="50">
      <div>Robotics</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/coding-programming-language-svgrepo-com.svg" width="50" height="50">
      <div>Programming</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/img/space-ship-svgrepo-com.svg" width="50" height="50">
      <div>Space</div>
    </ng-template>
  </mat-tab>

</mat-tab-group>
