header {
    top: 0;
    left: 0;
}
header img {
  height: 20vh;
  width: 100%;
  position: relative;
  object-fit: cover;
}
header span {
  position: absolute;
  top: 10vh;
  left: 10vh;
  font-size: x-large;
  font-weight: bold;
  color: aliceblue;
}

.search{
  position: absolute;
  top: 5vh;
  right: 10vw;
}

/* Border */
::ng-deep .search .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
}
::ng-deep .search .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.search .mat-icon{
  color: white;
}

/* Font color */
.search input.mat-input-element {
  color: white;
}
::ng-deep .search .mat-form-field-label{
  color: white;
  font-size: 14px;
}

h2 {
  font-family: RhodiumLibre;
  color: black;
  font-size: 14px;
}

.cards {
    width: 100%;
    justify-content: space-around;
}
.card {
    width: 30% !important;
}
